$textcolor: #262261;
$fontsizevraag: 20px;
$backcolorhead: #FFFF;
$backcolorfoot: #262261;
$test: 3;
$width-cats: 25%;
$textcolor-head: #262261;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: montserrat, sans-serif;
  background-color: #f8f8f8;
}

@each $myheaders, $sass_color in (h1: $textcolor, h2: $textcolor, h3: $textcolor, h4: $textcolor-head, h5: coral, h6: crimson) {
  #{$myheaders} {
    color: $sass_color;
  }
}

h4{
  margin-left: 0.5%;
}

p {
  @if $test < 3 {
    color: red;
  } @else if $test == 3 {
    color: $textcolor;
  } @else {
    color: black;
  }
}


.faq{
  text-align: center;
}

.vraag{
  text-align: center;
  margin-top: 3%;
  font-size: $fontsizevraag;
}

.container{
  justify-content: center;
  display: flex;
  margin-top: 2%;
  margin-bottom: 5%;
}

.container2 {
  justify-content: center;
  display: flex;
  margin-top: 2%;
  margin-bottom: 5%;
}


.header{
  position: sticky;
  display: flex;
  margin-left: -1%;
  margin-top: -0.8%;
  width: 99.5%;
  height: 100%;
  padding: 1%;
  background-color: white;
}


.nav{
  margin-left: 80%;
  display: flex;
  width: 60%;
  padding: 1%;
  background-color: white;
  font-weight: bold;

  ul{
    color: $textcolor;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
  }
  li {
    display: inline;

    a{
      color: $textcolor;
      font-size: 14px;
      padding: 5px 8px;
      text-decoration: none;
      &:hover {
        color: #008cff;
      }
    }
  }
}

.logo{
  width: 7%;
  justify-content: left;
  margin-left: 1%;
  margin-top: 0.8%;
  display: block;
}

.links_onderwerpen{
  display: flex;
  flex-direction: row;
}

.categories {
  @extend .links_onderwerpen;
  width: 100%;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  align-items: stretch;


}

.header_cat {
  margin-bottom: -6%;
  justify-content: center;
  padding: 0;
  display: flex;
  width: 100%;
  background-color: $backcolorhead;
  color: $textcolor-head;
}

@for $i from 1 to 4
{
  .cat#{$i}
  {
    font-size: 12px==$i;
  }
}

$x: 1;
@while $x < 3
{
  .cat#{$x}
  {
    width:  $width-cats+$x;
  }
  $x: $x + 1;
}

.cat1 {
  display: flex;
  width: 35%;
  flex-flow: wrap;
  justify-content: left;
  margin-left: 5%;
  background-color: white;
  border: 1px solid $backcolorhead;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);


  ul{
    margin-top: -17%;
    display: block;
    color: $textcolor;
    list-style-type: none;


    li {
      display: block;
      text-align: left;
      margin-left: -5%;


      a{
        color: $textcolor;
        text-decoration: none;
        display: block;
        margin-top: 7.5%;
        padding-right: 3%;
      }
      a:hover{
        color: #008cff;
      }
    }
}
}

.cat2 {
  display: flex;
  flex-flow: wrap;
  width: 35%;
  justify-content: left;
  margin-left: 5%;
  background-color: white;
  border: 1px solid $backcolorhead;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

  ul {
    display: block;
    text-align: left;
    margin-top: 1.5%;
    color: $textcolor;
    list-style-type: none;

    li {
      display: block;
      text-align: left;
      margin-left: -5%;


      a {
        color: $textcolor;
        text-decoration: none;
        display: block;
        margin-top: 7.5%;
        text-align: left;
        padding-right: 3%;
      }

      a:hover {
        color: #008cff;
      }
    }
  }
}

.cat3 {
  display: flex;
  width: 35%;
  flex-flow: wrap;
  justify-content: left;
  margin-right: 5%;
  margin-left: 5%;
  background-color: white;
  border: 1px solid $backcolorhead;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

  ul{
    display: block;
    text-align: left;
    margin-top: 6.2%;
    color: $textcolor;
    list-style-type: none;

    li {
      display: block;
      text-align: left;
      margin-left: -3%;


      a{
        color: $textcolor;
        text-decoration: none;
        display: block;
        margin-top: 7.5%;
        margin-left: -1%;
        padding-right: 3%;
      }
      a:hover{
        color: #008cff;
      }
    }
  }
}

footer{
  display: block;
  margin-top: auto;
  width: 99.58%;
  margin-left: -1%;
  margin-bottom: -1%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 1%;
  color: white;
  background-color: $backcolorfoot;
  justify-content: center;
}

.linkmail{
  color: white;
}

.left {
  width: 70%;
  display: flex;
  flex-flow: wrap;
  height: 100%;
  margin-bottom: 5%;

}

.right {
  width: 25%;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 5%;
  height: 25%;
}

//styling boxen vraag+antwoord pagina's
.content-box, .content-box2 {
  width: 90%;
  display: flex;
  border: 1px solid $backcolorhead;
  flex-flow: wrap;
  justify-content: left;
  height: 100%;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

  ul {
    display: block;
    text-align: left;
    margin-top: 3%;
    color: $textcolor;
    list-style-type: none;

    li {
      display: block;
      text-align: left;
      margin-left: -3%;


      a {
        color: $textcolor;
        text-decoration: none;
        display: block;
        margin-top: 7.5%;
        &:hover {
          color: #008cff;
        }
      }

    }
  }
}


.header_zoek {
  width: 90%;
  background-color: $backcolorhead;
  display: flex;
  justify-content: center;
  padding-right: 0.5%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

}

.header_vraag{
  width: 90%;
  align-content: center;
  background-color: $backcolorhead;
  display: flex;
  justify-content: center;
  padding-right: 0.2%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}


.vraag_text{
  justify-content: left;
  margin-left: 2%;

}
.zochtu{
  margin-left: -4%;
}

.linkmail2{
  color: $textcolor;
}

.mail {
  color: white;
}

.contactpic {
  width: 25%;
  margin-left: 38%;
  margin-top: -5%;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@import "responsive";